.count-down {
  display: flex;
  color: white;
  justify-content: center;
}

.timer-div {
  margin: 1rem 6px;
  color: #8f8470;
  & h1 {
    font-size: 4rem;
    margin: 0;
    font-family: 'Pirata One';
    letter-spacing: 0.2rem;
    & span {
      margin-left: 6px;
      font-size: 1.8rem;
      font-family: 'Pirata One';
    }
  }
}

@media only screen and (max-width: 320px) {
  .timer-div {
    & h1 {
      font-size: 0.8rem;
      & span {
        font-size: 0.6rem;
      }
    }
  }
}

@media only screen and (min-width: 321px) and (max-width: 767px) {
  .timer-div {
    & h1 {
      font-size: 1.4rem;
      & span {
        font-size: 0.8rem;
      }
    }
  }
}
