.question {
  display: flex;
  flex-direction: column;

  &__header {
    font-family: 'Cinzel Decorative';
    width: 100%;
    color: #ff98004a;
    height: 4rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    &__timer {
      max-height: 4rem;
      display: flex;
      align-items: center;
      & img {
        height: 2.8rem;
        margin-left: 0.5rem;
        margin-left: 12px;
        animation: shake 200ms ease-in infinite;
      }

      & span {
        font-weight: bolder;
        font-size: 1.4rem;
        margin-left: 12px;
      }
    }

    &__btngrp {
      display: flex;
      margin-right: 1rem;

      &__btn {
        max-height: 50px;
        & p {
          font-size: 16px;
          font-weight: bolder;
        }
      }
    }
  }

  .questions-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;

    &__block {
      width: 680px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & SimpleImg {
        height: inherit;
        width: inherit;
      }
      & input {
        letter-spacing: 0.1rem;
        font-family: 'Cinzel Decorative', auto;
        border-radius: 7px;
        outline: none;
        color: black;
        font-weight: 600;
        border-color: #541b13 !important;
        padding: 16px;
        width: 50%;
        margin-bottom: 1rem;
        width: 80%;
      }

      &__btns {
        display: flex;
        width: 100%;
        &__btn {
          max-height: 46px;
          min-height: 46px;
          & p {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@keyframes shake {
  from {
    transform: rotate(-8deg);
  }
  to {
    transform: rotate(8deg);
  }
}
