.footer {
  height: 4rem;
  display: flex;
  overflow: hidden;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: flex-end;

  & img {
    height: 3rem;
    margin-right: 12px;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      transition: transform 200ms ease-in;
    }
  }
}
